@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header {
    background-color: #1c1c1c;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;

}

body {
    background: #111;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

span {
    color: #ff3c00
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

html {
    font-size: 62.5%;
}

.logo img {
    width: 60px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 30px;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff3c00;
}

* {
    padding: 0px;
    margin: 0px;
    outline: none;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

#active {
    color: #ff3c00;
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    min-height: 10vh;


}

.rodape p {
    font-size: 1.5rem;
    color: white;
}

.pre-contato {
    min-height: 10vh;
}

.pre-contato h1 {
    font-size: 4rem;
    color: #ff3c00;

    text-align: center;
}

/* .contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    min-height: 90vh;
} */

.contato h1 {
    font-size: 4rem;
    color: #ff3c00;

    text-align: center;

    margin-bottom: 10rem;
}

.contato-conteudo {
    display: flex;
    align-items: center;
}

.contato-formulario {
    color: #fff;
    
    flex: 1;
}

.contato-formulario label {
    font-size: 1.7rem;
}

.contato-formulario input {
    background-color: transparent;
    border-bottom: 1px solid #828282;
    
    width: 100%;

    padding: 1rem 0.5rem;

    font-size: 1.6rem;
}

.contato-formulario textarea {
    background: transparent;
    border-bottom: 1px solid #828282;

    width: 100%;
    height: 10rem;

    font-size: 1.6rem
}

.form-group {
    padding: 2rem 0rem 2rem;
}

.form-group ::placeholder {
    color: #828282;
}

.contato-formulario button {
    background: #ff3c00;
    color: #f8f8f8;

    padding: 1.3rem;
    margin: 2rem 0rem 2rem;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;

    border-radius: 3rem;
}

.contato-formulario h2 {
    font-size: 2.6rem;
}

.contato-infos {
    flex: 1;
}

.contato-infos h3 {
    color: #f8f8f8;

    font-size: 1.7rem;

    margin-bottom: 1rem;
}

.contato-infos p {
    color: #ff3c00;

    font-size: 2rem;
    font-weight: bold;
}

.contato-infos a {
    color: #ff3c00;
    transition: 0.2s ease;
}

.contato-infos a:hover {
    color: #f8f8f8;
}

.infos {
    margin-bottom: 3rem;
}